body{
  background-image: url(../img/digital-bitcoin-sfondo-1920x1080_48.jpg);
  background-size: cover;
}

h1 {
  font-size: 95px!important;
  text-align: center;
  position: relative;
  border: 3px solid;
  border-color: white;
  padding: 4px 28px;
  animation: Bordercolorinfinite 4s infinite;
  transition: 2s;
}

@keyframes Bordercolorinfinite {
  0% {
    border-color: white;
  }
  20% {
    border-color: red;
  }
  40% {
    border-color: yellow;
  }
  60% {
    border-color: lime;
  }
  80% {
    border-color: aqua;
  }
  100% {
    border-color: white;
  }
}

.fl_password-container{
  background-color: rgba(139, 69, 19, 0.856);
  margin: 160px 150px!important;
}
.fl-info1{
  padding-top: 50px!important;
}
.fl-info2{
  padding: 10px 0!important;
}
.fl_layover{
  margin: 280px 150px!important;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  text-align: center;
}

