body{
  background-image: url(../img/digital-bitcoin-sfondo-1920x1080_48.jpg);
  background-size: cover;
}

h1 {
  font-size: 95px!important;
}
.fl_password-container{
  background-color: rgba(139, 69, 19, 0.856);
  margin: 160px 150px!important;
}
.fl-info1{
  padding-top: 50px!important;
}
.fl-info2{
  padding: 10px 0!important;
}
.fl_layover{
  margin: 280px 150px!important;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  text-align: center;
}